setuptools
grpcio==1.72.2
grpcio-tools==1.72.2
grpcio-health-checking==1.72.2
protobuf>=6.30.0,<7.0dev
psycopg2-binary==2.9.10

# OTel auto-instrumentation
opentelemetry-api==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-exporter-otlp==1.40.0
opentelemetry-instrumentation-grpc==0.61b0
opentelemetry-instrumentation-psycopg2==0.61b0
opentelemetry-distro==0.61b0
